body{
    
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #faeed9;
    text-align: justify;
    width: 1000px;
    margin: auto;
    
}
header{
    padding:0;
    background: #333;
    height:100px;  

}
header h1{ 
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header h2{
    font-size: 30px;
    text-align: center;
    color: white;
}
h1,h2{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 20px;
    line-height: 26px;
}
#img1{
    float: left;
    width: 250px;
    margin-right: 10px;
}
#img2{
    float: right;
    width: 250px;
    margin-left: 10px;
}
span{
    color: rgb(255, 127, 58);
    font-weight: bold;
}
section{
    background-color: white;
    
}
section h3{
    padding: 0;
    margin: 0;
    text-align: center;
    color: green;
    font-size: 50px;
    
}

footer{
    background-color: #333;
    padding: 0;
    height: 100px;
    
}
footer h3{
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 10px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
nav li{
    display: inline;
    color: white;
    
    
}
nav a{
    text-decoration: none;
    color: white;
}
nav{
    text-align: center;
    padding-top: 10px;
}

