body{
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    background-color: beige;
}
header{
    background-color: rgb(188, 211, 102);
    width: 1000px;
    margin: auto;
    padding: 10px;
}
header h1{
    text-align: center;
    color: aliceblue;
}
section{
    width:1000px;
    background: rgb(189, 189, 150);
    margin: auto;
    padding: 10px;
}
p{
    font-size: 18px;
    line-height: 30px;
}
footer{
    background: rgb(67, 67, 67);
    width: 1000px;
    padding: 10px;
    margin: auto;

}
footer p{
    color: aliceblue;
    text-align: center;
}
nav{
    text-align: center;
    

}
nav ul{
    list-style: none;
}
nav li{
    display: inline;
}
nav a{
    text-decoration: none;
    color: white;
    margin: 10px;
    
}
#izq{
    width: 200px;
    float: left;
    margin: 20px;
}
#der{
    width: 350px;
    float: right;
    margin:30px;
}