
body{
    font-family: Arial, Helvetica, sans-serif;
    /*padding: 1px;*/
    background-color: rgb(209, 209, 196);
    margin: 0px;
    padding: 0px;
    
}
/*encabezado y titulo de la pagina*/
.header{
    
    text-align: center;
    font-size: 50px;
    background-color: rgb(185, 109, 64);
    color: white;
    width: 100%;
    float: right;
  

}
/*estilo de barra de navegacion*/
