*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(50, 50, 50);
    color: #fff;
}
.formulario{
    background-color:#5B708D ;
    width: 50%;
    margin: auto;
    padding: 10px;
    margin: 10px auto;
    
}
.formulario p{
    margin:5px 0;
}
h1{
    text-align: center;
    color: #fff;
}
input[type="text"],input[type="email"],input[type="number"],select{
    width: 100%;
    border-radius: 10px;
    border: 0 none;
    height: 35px;
    padding: 10px;
    margin: 10px 0px;
    
}
textarea{
    width: 100%;
    margin: 10px 0px;
}
input[type="submit"],input[type="reset"]{
    padding: 10px;
    border-radius: 25px;
    border: 0 none;
    cursor: pointer;
    width: 120px;
    background-color: #242527;
    color: #fff;
    margin: 10px auto;
    display: block;
}

/* para tablet */
@media screen and (max-width:980px){
    body{
        background-color: #1d2229;
    }
    .formulario{
        width: 80%;
    }
}

/* celular */
@media screen and (max-width:480px){
    body{
        background-color: #343434;
    }
    .formulario{
        width: 90%;
    }
    input[type="submit"],input[type="reset"]{
        width: 100%;
    }
}