/* footer */
.text-footer {
    background-color: #212121;
    
}

.footer-copy{
   
    border-top: 2px solid #404040;
}

.footer-copy .text-center{
    position: unset;
}
.boton-subir {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 11;
  }


/* medi querys personalizados 1200px */
@media screen and (max-width:1200px) {
    .contenido-info {

        max-width: 600px;
        height: auto;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .color-parrafo {
        color: #c7c7c7;
        font-size: 12px;
    }

    .fw-bolder {
        font-size: 30px;
    }

}