@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #1B1B1E; 
    font-family: "poppins", sans-serif;
}

/* header */
header {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #006989;
}

.header_sub {
    width: 70%;
    height: auto;
    /* background-color: #606061; */
    line-height: .5px;
    margin: auto;
}

.img_cabecera {
    display: inline-block;
    padding: 20px;
}

.social {
    float: right;
    height: 100%;
}

.img {
    height: auto;

}

.icons {
    margin: 3px;
    width: 40px;
    display: inline-block;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.605);
    
}

/* botonera */
.botones {
    width:  70%;
    text-align: center;
    background-color:  #007090;
    margin: auto;

}

.botones ul {
    list-style: none;


}

.botones li {
    display: inline-block;
    list-style: 0 none;

}

.botones a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
    color: #fdfdfe;

}

.botones a:hover {
    color: rgb(25, 38, 50);
    background-color: #A3BAC3;
}


/* article */
article {
    background-color: #d1dadd;
    width: 70%;
    margin: auto;
    font-size: 0;
    text-align: center;

}

.container {
    background-color: #FCFCFC;
    width: 350px;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.313);
}

.container img {
    width: 100%;

}

.container p {
    /* hyphens: auto; /* romper palabras */
    text-align: justify;
    padding: 0;
    font-size: 15px;
    word-spacing: 2px
}

.container h2 {

    font-size: 25px;
    margin: 10px 0 10px 0;
    float: left;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0,0.4); */

}

.container button {
    
    padding: 10px;
    margin: 10px;
    float: left;
    border-radius: 50px;
    border: 0 none;
    color: #19191f;
    background-color: #79c2d9;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.313);

}

.container button:hover {
    background-color:  #006989;
    color: #ededed;
    cursor: pointer;
}


/*FOOTER*/
footer{
    background-color: #183139;
    width: 100%;
}
.footer_sub{
     padding: 10px;
}

.footer_title{
    text-align: center;
    font-size: 2em;
    padding: 10px;
    color: #e5dedf;
}

.footer_paragraph{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e5dedf;
}


/*media queries*/
/*pantalla de tabletas 425px para abajo*/
@media screen and (max-width:980px) {

    .header_sub {
        width: 100%;
        height: auto;
         /* background-color: #606061;  */
        line-height: .5px;
        margin: auto;
    }
    .botones {
        width:  100%;
        text-align: center;
        background-color:  #007090;
        margin: auto;
    
    }
    .container{
        
        width: 90%;
    }
    article {
        background-color: #4692ab; /*#f3f6f7 */
        margin: auto;
        font-size: 0;
        text-align: center;
        width: 90%;
    
    } 
}
@media screen and (max-width:425px) {
    article {
        background-color: #f3f6f7;
        margin: auto;
        font-size: 0;
        text-align: center;
        width: 90%;
    
    } 
    .header_sub {
        width: 100%;
        height: auto;
        /* background-color: #606061; */
        line-height: .5px;
        margin: auto;
    }
    .botones {
        width:  100%;
        text-align: center;
        background-color:  #007090;
        margin: auto;
    
    }
    .container{
        
        width: 80%;
    }
   
}
@media screen and (max-width:375px)
{
    .img_cabecera{
        padding: 5px;
    }
    .img{
        width: 100px;
    }
    .icons{
        width: 30px;
    }

    .header_sub {
        width: 100%;
        height: auto;
        /* background-color: #606061; */
        line-height: .5px;
        margin: auto;
    }
    article {
        background-color: #f3f6f7;
        margin: auto;
        font-size: 0;
        text-align: center;
        width: 90%;
    
    } 

    /*botonera nav*/


    .botones {
        width:  100%;
        text-align: center;
        background-color:  #007090;
        margin: auto;
    
    }
    .container {
        background-color: #FCFCFC;
        width: 90%;
        padding: 10px;
        display: inline-block;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.313);
    }

}
 /*pantallas 320px*/
@media screen and (max-width:320px) {

    .img_cabecera{
        padding: 5px;
    }
    .img{
        width: 100px;
    }
    .icons{
        width: 30px;
    }

    .header_sub {
        width: 100%;
        height: auto;
        /* background-color: #606061; */
        line-height: .5px;
        margin: auto;
    }
    article {
        background-color: #f3f6f7;
        margin: auto;
        font-size: 0;
        text-align: center;
        width: 90%;
    
    } 

    /*botonera nav*/


    .botones {
        width:  100%;
        text-align: center;
        background-color:  #007090;
        margin: auto;
    
    }
    .container {
        background-color: #FCFCFC;
        width: 90%;
        padding: 10px;
        display: inline-block;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.313);
    }
   
}