*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #331C15;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title{
    font-size: 3em;
}

.formulario{
    background-color: #A88E85;
    /* width: 50%; */
    width: 500px;
    margin: 10px auto;
    padding: 20px;
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.title{
    text-align: center;
}
.caja_text{
    display: block;
    width: 100%;
    font-size: 1.2em;
    color: #331C15;
    font-weight: 700;
    margin-left: 3px;
    
}
.caja_content{
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0 none;
}
.comentario{
    width: 100%;
    height: 200px;
}
.botones{
    display: block;
    height: 80px;
    width: 150px;
    cursor: pointer;
    font-size: 1.5em;
    margin: 20px auto;
    border: 0 none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    
}
.botones:hover{
    background-color:#DB9881 ;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* pantallas 480px */
@media screen and (max-width:480px){
    body{
        background-color: #33152D;
    }
    .title{
        font-size: 1.8em;
    }
    .formulario{
        background-color: #5C4F41;
        width: 90%;
    }
    .caja_text{
        font-weight: 100;
        color: #fff;
    }
}